
.secondSectionEntry{
    position:relative;
    width: 100%;
    height: 40vw;
    overflow:hidden;
    background-color: #9ec3da;
    background-color: #2f536a;
}

/* more properties present in TextSLidingUpAnimation.css. This are mostly positioning properties */
.slidingUpHolder{
    height: 70%;
    width: 40%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10%;
    transform: translate(0px, -50%);
    opacity: 0;
    animation: fadeInAnimation .8s ease forwards;
    background-color: rgb(255 255 255 / 63%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.mirroredSlidingUpHolder{
    transform: translate(0px, -50%) scaleX(-1);
}
@keyframes fadeInAnimation {
    to {opacity: 1;}
}


.entryImgHolder{
    width: 75%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #9ec3da;
    position:relative;
}
.mirrored{transform: scaleX(-1);}

@media only screen and (max-width: 600px){
    .secondSectionEntry{height:50vw;}
    .slidingUpHolder{
        transform: none;
        width: 70%;
        height: 50%;
        left: 50%;
        bottom: 6%;
        top: auto;
        transform: translate(-50%, 0);
    }
    .mirroredSlidingUpHolder{
        transform: translate(-50%, 0) scaleX(-1);
    }
    .entryImgHolder{
        width:100%;
        height:70%;
    }
}
.entryImgHolder img{
    position:absolute;
    width:100%;
    height:auto;
    left:50%;
    opacity:0;
    animation: slideImgLeft .8s ease forwards;
}
@keyframes slideImgLeft{
    to{left:0%; opacity:1}
}

