
#secondSection{
    display: block;
    width: 100%;
    padding: 20px;
    height: 55vw;
    overflow:hidden;
    position:relative;
}
#backgroundImage{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    animation: imageIn 1s linear forwards;
}
@keyframes imageIn{
    0%{opacity:0;width:100%}
    100%{opacity:1;width:110%}
}

/* more properties present in TextSLidingUpAnimation.css. This are mostly positioning properties */
.animated-title{
  height: 90vmin;
  width: 90vmin;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 50%);
  background-color:#ffffffa1;
  animation: boxSlideUp 1s ease-in forwards;
}
@keyframes boxSlideUp{
    0%{opacity:0}
    100%{opacity:1; transform: translate(-50%,0%);top:0%}
}
