
.slidingUpHolder{
  color: rgb(0, 0, 0);
  font-family: "Titillium Web", sans-serif;
}

.text-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;
}
.text-top-inner {
  position: absolute;
  bottom: 0;
  width:100%;
  transform: translate(0, 100%);
  padding: .5vmin 0;
  font-size: 5vw;
  animation: showTopText .6s ease forwards;
  opacity:0;
}
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 10%, 0); opacity:1; }
}
.text-top-inner span {
  display: block;
  text-align: left;
  padding:0 10px;
}
.text-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.text-bottom-inner {
  position: absolute;
  top: 0;
  width:100%;
  transform: translate(0, -100%);
  text-align: left;
  font-size: 1vw;
  padding: 3vw 1vw;
  opacity:0;
  animation: showBottomText .8s ease forwards .5s;
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0);opacity:1 }
}
.borderDivLine{
  top:17%;
  width:90%;
  z-index:100;
  margin-left:1vw;
  border:2px solid black;
  animation: hrFadeInFromLeft .8s ease both .8s; 
}
@keyframes hrFadeInFromLeft{
  from {
    clip-path: polygon(0 100%, 0 100%, 0 100%, 0% 100%);
  }
  to{
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0% 100%);
  }
}