
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  border-radius: 5%;
  font-family: "Titillium Web", sans-serif;
}

.text-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.text-top-inner {
  position: absolute;
  bottom: 0;
  width:100%;
  transform: translate(0, 100%);
  padding: .5vmin 0;
  font-size: 6vw;
  text-align: center;
  animation: showTopText 1s ease forwards 1s;
}
.text-top-inner span {
  display: block;
  text-align: center;
}
.text-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
}
.text-bottom-inner {
  position: absolute;
  top: 0;
  width:100%;
  transform: translate(0, -100%);
  padding: 2vmin 0;
  text-align: center;
  font-size: 6vw;
  animation: showBottomText 0.5s ease forwards 2.25s;
}
.borderDivLine{
  top:60%;
  width:90%;
  z-index:100;
  margin:0 auto;
  border:2px solid black;
}