@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
.textFillDiv{
    background-color: transparent;
    font-size: 5vw;
    color: transparent;
    -webkit-text-stroke: .3vw rgba(0, 0, 0, 0);
    position:relative;
    padding:0;
    display: inline-block;
    white-space: nowrap;
    font-family: 'Titillium Web',sans-serif;
}
.textFillDiv::before{
    position:absolute;
    display: inline-block;
    font-family: 'Titillium Web',sans-serif;
    z-index:100;
    top:0;
    left:0;
    height:100%;
    width:0%;
    content: attr(data-text);
    color:white !important;
    font-size: 5vw;
    -webkit-text-stroke: 1px white !important;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    overflow-x: hidden;
    padding:0;
    animation: slide-right 1s ease-in forwards;
    overflow:hidden;
    white-space: nowrap;

}

@keyframes slide-right {
    0%{ width:0%}
    100%{width:100%}
}

/* moves text to far right, then pivots it via rotation */
.carouselCaption{
    position: absolute;
    width: 50vw;
    right: 12%;
    top: 0;
    bottom: initial;
    left: initial;
    transform-origin: top right;
    transform: rotate( -90deg);
    letter-spacing: 2vh;
    text-align: center;
    z-index: 2;
}

  