/* moves text to far right, then pivots it via rotation */
.carouselCaption{
  height: auto;
  width: 66.67%;
  right: 100%;
  left: 100%;
  bottom: -.2rem;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  z-index:2;

  
}
.carouselCaption h3{
  font-size:8vw;
  color:#0000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.carouselCaption h3:hover{
  transition: .3s;
  color:white;
}




